*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --dark: #1E3240;
    --blue: #AFD4E2;
    --white: #FFFFFF;
    --gray: #BDBDBD;
}

body{
    font-family: 'Mulish', sans-serif;
    background-color: #E5E5E5;
    color: var(--dark);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--dark);
}

img{
    width: 100%;
    height: auto;
    display: block;
}

h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.container{
    padding: 0 16px;
}

header, .real-hero{
    background-color: var(--blue);
    padding: 16px 0;
}

.awards-section, .projects-section, .testimonials-section, .contacts-section, footer{
    padding: 16px 0;
}

header nav a.logo{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.412rem;
}

header nav ul.nav-list-mobile{
    display: none;
    position: absolute;
    background: #AFD4E2;
    width: 100%;
    padding-bottom: 16px;
}

header nav ul.nav-list-mobile li:first-child{
    padding-top: 20px;
}

header nav ul.nav-list-mobile li:not(:last-child){
    margin-bottom: 20px;
}

header nav ul.nav-list-mobile li a{
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.098rem;
    display: block;
}

header nav ul.nav-list-mobile li a:hover{
    transition: 0.3s all ease-in-out;
    transform: translateY(-3px);
}

.logo-ham-wrapper{
    display: flex;
    justify-content: space-between;
}

.logo-ham-wrapper button i{
    cursor: pointer;
}

button.buttons-wrapper{
    border: none;
    background-color: transparent;
    outline: none;
}

button.buttons-wrapper i{
    font-size: 20px;
}

/* hero section */

.real-hero .right-hero{
    margin-bottom: 20px;
}

.real-hero h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.real-hero .left-hero p{
    margin-bottom: 10px;
}

.real-hero .left-hero .hero-buttons-wrapper a{
    background-color: var(--dark);
    color: #fff;
    padding: 18px 24px;
    display: inline-block;
}

.real-hero .left-hero .hero-buttons-wrapper a:last-child{
    background-color: transparent;
    border: 1px solid var(--dark);
    color: var(--dark);
}

/* awards section */
.awards-section .left-awards .left-awards-img-wrapper{
    margin-bottom: 20px;
}

.right-awards .right-awards-content h2{
    margin-bottom: 10px;
}

.right-awards .right-awards-content p{
    color: #BDBDBD;
    font-size: 18px;
    margin-bottom: 10px;
}

.right-awards .right-awards-content .right-total-awards{
    display: flex;
    justify-content: space-between;
}

.right-awards .right-awards-content .right-awards-item h3{
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 10px;
}

.right-awards .right-awards-content .right-awards-item strong{
    font-weight: 300;
    font-size: 34px;
    line-height: 120%;
}

/* projects section */
.projects-section .projects-header h2, .projects-header p, .projects-section .projects-slider .project-slider-item .project-slider-img-wrapper, .projects-section .projects-slider .project-slider-item .project-slider-item-description strong, .projects-section .projects-slider .project-slider-item .project-slider-item-description p{
    margin-bottom: 10px;
}

.projects-section .projects-slider .project-slider-item{
    position: relative;
    min-height: 500px;
}

.projects-section .projects-slider .project-slider-item .project-slider-img-wrapper{
    position: relative;
    z-index: 1;
}

.projects-section .projects-slider .project-slider-item .project-slider-item-description{
    position: absolute;
    background-color: #fff;
    padding: 20px 0 0 20px;
    width: 292px;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 99;
}

.projects-section .projects-slider .project-slider-item .project-slider-item-description strong{
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
}

.projects-section .projects-slider .project-slider-item .project-slider-item-description p{
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
}

.slick-slide{
    position: relative;
}

.projects-slider button.slick-arrow{
    font-size: 24px;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 99;
    cursor: pointer;
    color: var(--blue);
}

.projects-slider button.slick-arrow.slick-prev{
    right: 30px;
}

/* testimonials section */
.testimonials-section .testimonial-header h2, .testimonials-section .testimonial-header p {
    margin-bottom: 10px;
}

.testimonial-description .testimonial-img-wrapper{
    margin-bottom: 10px;
}

.testimonial-description .testimonial-description-content h3{
    position: relative;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding-top: 40px;
}

.testimonial-description .testimonial-description-content h3::before{
    content: "";
    position: absolute;
    background-image: url(images/quotations.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -30px;
    left: 0;
    width: 60px;
    height: 100%;
}

.testimonial-description .testimonial-description-content h3, .testimonial-description .testimonial-description-content p, .testimonial-description .testimonial-description-content strong{
    margin-bottom: 5px;
}

.testimonial-description .testimonial-description-content strong, .testimonial-description .testimonial-description-content span{
    display: block;
}

.testimonials-section button.slick-arrow{
    border: none;
    outline: none;
    background-color: transparent;
    color: #ced2d5;
    font-size: 24px;
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 99;
    cursor: pointer;
}

.testimonials-section button.slick-arrow.slick-prev{
    right: 30px;
}

/* contacts section */
.contacts-section .contacts-content-wrapper .contacts-img-wrapper{
    margin-bottom: 10px;
}

.contacts-section .contacts-content-wrapper .contacts-content h2, .contacts-section .contacts-content-wrapper .contacts-content p{
    margin-bottom: 10px;
}

.contacts-section .contacts-content-wrapper form input[type="text"],
.contacts-section .contacts-content-wrapper form input[type="email"],
.contacts-section .contacts-content-wrapper form input[type="tel"],
.contacts-section .contacts-content-wrapper form textarea{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #BDBDBD;
    padding: 14px 0 14px 18px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid var(--dark);
}

.contacts-section .contacts-content-wrapper form input[type="submit"]{
    padding: 18px 24px;
    background: var(--dark);
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.contacts-section .contacts-content-wrapper form span{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
    opacity: 0.6;
    display: inline-block;
    margin-left: 5px;
}

/* footer section */

footer{
    background-color: var(--dark);
    color: var(--gray);
}

.footer-list strong{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    margin-bottom: 10px;
}

.footer-list ul li i{
    margin: 0 10px 5px 0;
}

.footer-list ul li, .footer-list ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
    text-transform: capitalize;
    color: var(--gray);
}

.footer-content-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.footer-content-header .footer-list{
    width: calc(100%/2 - 20px);
    margin: 0 auto 0 0;
}

.footer-content-copyright p{
    text-align: center;
}